@use 'sass:math';

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Oswald&display=swap');

@import './base/reset', './utils/variables', './components/player';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  position: absolute;
  z-index: 10;
}

h1 {
  font-family: Oswald;
  font-size: 15vmin;
  width: 100vw;
  line-height: 15vmin;
  text-align: center;
  padding: 5vmin;  text-shadow: 1px 1px 0 #111d, 
  1px -1px 0 #111d, 
  -1px 1px 0 #111d, 
  -1px -1px 0 #111d, 
  1px 0px 0 #111d, 
  0px 1px 0 #111d, 
  -1px 0px 0 #111d, 
  0px -1px 0 #111d;
}

body {
  color: #eee;
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle at center 60vh, #fff5, #fff0),  url("../assets/img/eric-krull-fi3_lDi3qPE-unsplash.jpg");
  background-size: cover;
  backdrop-filter: blur(5px);
}

.carousel {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  right: 7.5vw;
  cursor: pointer;
  width: 3.5rem;
  aspect-ratio: 1/.9;
  display: grid;
  place-content: center;
  border-radius: 50%;
  background: #eeeeee55;

  &:first-child {
    left: 7.5vw;
  }

  &:hover {
    color: rgb(86, 96, 176);
    background: #eeeeeedd;
  }
}

.disc {
  position: absolute;
  width: 52vmin;
  aspect-ratio: 1;
  transform-origin: bottom;
  transition: transform 1s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
  will-change: transform;

  >*{
    pointer-events: none;
  }

  &:not([data-pos='8'] ) {
    cursor: default;
    pointer-events: none;
  }

  &[aria-selected='true']{
    transform: translate(-33%, 6vmin) scale(1.1);
    transition: transform .25s ease-in-out;
  }
}

@for $i from 1 through $discs-qty {
  [data-pos='#{$i}'] {
    z-index: $i;
    transform: rotate(math.sin(math.div(math.$pi * $i, 4)) * 10deg);
  }
}

.disc-from-left {
  transform: translateX(calc(-50% - 50vw));
}

.disc-from-right {
  transform: translateX(calc(50% + 50vw));
}

/* anim for moving discs from front to back */

[data-pos='#{($discs-qty + 1)}'] {
  z-index: 9;
  animation: linear .5s forwards running to-the-back;
}

@keyframes to-the-back {

  25% {
    opacity: 0.75;
  }

  40% {
    transform: translateX(10vw) rotate(30deg);
    opacity: 0;
    z-index: 9;
  }

  60% {
    transform: translateX(-15vw) rotate(-45deg);
    opacity: 0;
  }

  75% {
    opacity: 0.75;
    z-index: 1;
  }

  100% {
    transform: translateX(0) rotate(0);
    opacity: 1;
    z-index: 1;
  }
}

/* anim for moving discs from back to front */

[data-pos='0'] {
  z-index: 0;
  animation: linear .5s forwards running to-the-front;
}

@keyframes to-the-front {
  25% {
    opacity: 0.75;
  }

  40% {
    transform: translateX(-15vw) rotate(-45deg);
    opacity: 0;
    z-index: 1;
  }

  60% {
    transform: translateX(10vw) rotate(30deg);
    opacity: 0;
  }

  75% {
    opacity: 0.75;
    z-index: 9;
  }

  100% {
    transform: translateX(0) rotate(0);
    opacity: 1;
    z-index: 9;
  }
}

.illustration {
  width: 100%;
  aspect-ratio: 1;
  transition: transform .25s ease-in-out;
  border-radius: 2px;
  border: 1px solid #4445;
}

.name {
  position: absolute;
  bottom: 2.5%;
  width: 100%;
  text-align: center;
  font-size: 8vmin;
  font-family: caveat;
  color: #ccc;
  text-shadow: 1px 1px 0 #111d, 
  1px -1px 0 #111d, 
  -1px 1px 0 #111d, 
  -1px -1px 0 #111d, 
  1px 0px 0 #111d, 
  0px 1px 0 #111d, 
  -1px 0px 0 #111d, 
  0px -1px 0 #111d;
}

@media screen and (max-width: 1080px) {
  .disc {
    &[aria-selected='true']{
      transform: translateY(-10vh) scale(1.7);
      transform-origin: center;
    }
  }
  
}