@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Oswald&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:visited {
  text-decoration: none;
}

:root {
  --bg: #222;
  --text: #ddd;
}

.player-section {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(34, 34, 34, 0);
  pointer-events: none;
  transition: background-color 0.25s linear, -webkit-backdrop-filter 0.25s ease-in;
  transition: backdrop-filter 0.25s ease-in, background-color 0.25s linear;
  transition: backdrop-filter 0.25s ease-in, background-color 0.25s linear, -webkit-backdrop-filter 0.25s ease-in;
  z-index: 7;
}
.player-section[aria-hidden=false] {
  pointer-events: auto;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: rgba(34, 34, 34, 0.3333333333);
}

.player {
  color: #111;
  width: 57.2vmin;
  aspect-ratio: 1;
  background: conic-gradient(from 15deg, rgba(0, 0, 0, 0) 0deg, rgba(153, 153, 153, 0.3333333333) 10deg 45deg, rgba(0, 0, 0, 0) 55deg 185deg, rgba(153, 153, 153, 0.3333333333) 195deg 230deg, rgba(0, 0, 0, 0) 240deg), radial-gradient(circle at center, rgba(0, 0, 0, 0) 0% 30.5%, rgba(102, 102, 102, 0.3333333333) 31.5% 32%, rgba(0, 0, 0, 0) 33% 35.5%, rgba(102, 102, 102, 0.3333333333) 36.5% 37%, rgba(0, 0, 0, 0) 38% 40.5%, rgba(102, 102, 102, 0.3333333333) 41.5% 42%, rgba(0, 0, 0, 0) 43% 45.5%, rgba(102, 102, 102, 0.3333333333) 46.5% 47%, rgba(0, 0, 0, 0) 48% 50.5%, rgba(102, 102, 102, 0.3333333333) 51.5% 52%, rgba(0, 0, 0, 0) 53% 55.5%, rgba(102, 102, 102, 0.3333333333) 56.5% 57%, rgba(0, 0, 0, 0) 58% 60.5%, rgba(102, 102, 102, 0.3333333333) 61.5% 62%, rgba(0, 0, 0, 0) 63% 65.5%, rgba(102, 102, 102, 0.3333333333) 66.5% 67%, rgba(0, 0, 0, 0) 68% 70.5%, rgba(102, 102, 102, 0.3333333333) 71.5% 72%, rgba(0, 0, 0, 0) 73% 80.5%, rgba(102, 102, 102, 0.3333333333) 81.5% 82%, rgba(0, 0, 0, 0) 83% 90.5%, rgba(102, 102, 102, 0.3333333333) 91.5% 92%, rgba(0, 0, 0, 0) 93% 100%), #000;
  position: absolute;
  bottom: calc(40vh - 32vmin);
  left: calc(50vw - 28.6vmin);
  transition: 0.25s transform 0.25s ease-in-out, 0s opacity 0.25s ease-in-out;
  border-radius: 50%;
  display: grid;
  place-content: center;
  transform: translateX(0vw);
  opacity: 0;
  pointer-events: none;
}
.player[aria-hidden=false] {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(33%);
}

.controllers {
  width: 22.5vmin;
  height: 22.5vmin;
  padding: 1vmin;
  font-size: 1.5rem;
  border-radius: 50%;
  background: radial-gradient(#ddd 0 15%, rgba(0, 0, 0, 0) 15% 55%, #ddd 55% 60%, rgba(0, 0, 0, 0) 0 60%), #e6f3be;
  display: grid;
  grid-template: repeat(5, 1fr)/repeat(5, 1fr);
  grid-template-areas: ". . exit . ." ". . stop . ." ". prev play next ." ". . shuffle . ." ". vol vol vol .";
}
.controllers > * {
  cursor: pointer;
  place-self: center;
}

.stop {
  grid-area: stop;
}

.exit {
  grid-area: exit;
}

.next {
  grid-area: next;
}

.prev {
  grid-area: prev;
}

.play-wrapper {
  grid-area: play;
  position: relative;
}
.play-wrapper .play, .play-wrapper .pause {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.play-wrapper .play {
  display: none;
}

.random {
  grid-area: shuffle;
}

.volume {
  grid-area: vol;
  display: flex;
  gap: 10px;
}
.track-infos {
  font-size: 1.5rem;
  width: 57.2vmin;
  position: absolute;
  bottom: 3vmin;
  left: calc(50% - 45vmin);
}

.fas {
  pointer-events: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: absolute;
  z-index: 10;
}

h1 {
  font-family: Oswald;
  font-size: 15vmin;
  width: 100vw;
  line-height: 15vmin;
  text-align: center;
  padding: 5vmin;
}

body {
  color: #eee;
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle at 50vw 10vh, rgb(224, 172, 223), rgb(86, 96, 176));
}

.carousel {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  right: 7.5vw;
  cursor: pointer;
  width: 3.5rem;
  aspect-ratio: 1/0.9;
  display: grid;
  place-content: center;
  border-radius: 50%;
  background: rgba(238, 238, 238, 0.3333333333);
}
.arrow:first-child {
  left: 7.5vw;
}
.arrow:hover {
  color: rgb(86, 96, 176);
  background: rgba(238, 238, 238, 0.8666666667);
}

.disc {
  position: absolute;
  width: 52vmin;
  aspect-ratio: 1;
  transform-origin: bottom;
  transition: transform 1s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
  will-change: transform;
}
.disc > * {
  pointer-events: none;
}
.disc:not([data-pos="8"]) {
  cursor: default;
  pointer-events: none;
}
.disc[aria-selected=true] {
  transform: translate(-33%, 6vmin) scale(1.1);
  transition: transform 0.25s ease-in-out;
}

[data-pos="1"] {
  z-index: 1;
  transform: rotate(7.0710678119deg);
}

[data-pos="2"] {
  z-index: 2;
  transform: rotate(10deg);
}

[data-pos="3"] {
  z-index: 3;
  transform: rotate(7.0710678119deg);
}

[data-pos="4"] {
  z-index: 4;
  transform: rotate(0deg);
}

[data-pos="5"] {
  z-index: 5;
  transform: rotate(-7.0710678119deg);
}

[data-pos="6"] {
  z-index: 6;
  transform: rotate(-10deg);
}

[data-pos="7"] {
  z-index: 7;
  transform: rotate(-7.0710678119deg);
}

[data-pos="8"] {
  z-index: 8;
  transform: rotate(0deg);
}

.disc-from-left {
  transform: translateX(calc(-50% - 50vw));
}

.disc-from-right {
  transform: translateX(calc(50% + 50vw));
}

/* anim for moving discs from front to back */
[data-pos="9"] {
  z-index: 9;
  animation: linear 0.5s forwards running to-the-back;
}

@keyframes to-the-back {
  25% {
    opacity: 0.75;
  }
  40% {
    transform: translateX(10vw) rotate(30deg);
    opacity: 0;
    z-index: 9;
  }
  60% {
    transform: translateX(-15vw) rotate(-45deg);
    opacity: 0;
  }
  75% {
    opacity: 0.75;
    z-index: 1;
  }
  100% {
    transform: translateX(0) rotate(0);
    opacity: 1;
    z-index: 1;
  }
}
/* anim for moving discs from back to front */
[data-pos="0"] {
  z-index: 0;
  animation: linear 0.5s forwards running to-the-front;
}

@keyframes to-the-front {
  25% {
    opacity: 0.75;
  }
  40% {
    transform: translateX(-15vw) rotate(-45deg);
    opacity: 0;
    z-index: 1;
  }
  60% {
    transform: translateX(10vw) rotate(30deg);
    opacity: 0;
  }
  75% {
    opacity: 0.75;
    z-index: 9;
  }
  100% {
    transform: translateX(0) rotate(0);
    opacity: 1;
    z-index: 9;
  }
}
.illustration {
  width: 100%;
  aspect-ratio: 1;
  transition: transform 0.25s ease-in-out;
  border-radius: 2px;
  border: 1px solid rgba(68, 68, 68, 0.3333333333);
}

.name {
  position: absolute;
  bottom: 2.5%;
  width: 100%;
  text-align: center;
  font-size: 8vmin;
  font-family: caveat;
  color: #ccc;
  text-shadow: 1px 1px 0 rgba(17, 17, 17, 0.8666666667), 1px -1px 0 rgba(17, 17, 17, 0.8666666667), -1px 1px 0 rgba(17, 17, 17, 0.8666666667), -1px -1px 0 rgba(17, 17, 17, 0.8666666667), 1px 0px 0 rgba(17, 17, 17, 0.8666666667), 0px 1px 0 rgba(17, 17, 17, 0.8666666667), -1px 0px 0 rgba(17, 17, 17, 0.8666666667), 0px -1px 0 rgba(17, 17, 17, 0.8666666667);
}/*# sourceMappingURL=style.css.map */